@tailwind base;
@tailwind components;
@tailwind utilities;

.dx-scheduler-date-table-other-month.dx-scheduler-date-table-cell {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}

.dx-template-wrapper,
.dx-scheduler-date-table-cell {
  position: relative;
}

.dx-scheduler-date-table-cell .dx-template-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-right: 6px;
}

.avatar {
  width: 155px;
  float: left;
  overflow: hidden;
  position: relative;
  height: 125px;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.name h2 {
  color: #fff;
  font-size: 28px;
  text-align: left;
  padding: 0 0 5px 175px;
  margin: 0;
}

.info {
  width: auto;
  text-align: left;
  height: 100%;
  font-size: 11pt;
  font-weight: normal;
  padding: 25px 20px;
  color: #707070;
}

.dx-color-scheme-contrast .info {
  color: #fff;
}

.day-cell {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.employee-1 {
  background-color: rgba(86, 202, 133, 0.1);
}

.employee-2 {
  background-color: rgba(255, 151, 71, 0.1);
}

.employee-weekend-1 {
  background-color: rgba(86, 202, 133, 0.2);
}

.employee-weekend-2 {
  background-color: rgba(255, 151, 71, 0.2);
}

.training-background-0 {
  background-image: url("/icon-abs.png");
}

.training-background-1 {
  background-image: url("/icon-step.png");
}

.training-background-2 {
  background-image: url("/icon-fitball.png");
}


.schedulers {
  display: flex;
}

.column-1 {
  padding-right: 5px;
}

.column-2 {
  padding-left: 5px;
}

.dx-scheduler-small .dx-scheduler-view-switcher.dx-tabs {
  display: table;
}

.long-title h3 {
  font-family:
    "Segoe UI Light",
    "Helvetica Neue Light",
    "Segoe UI",
    "Helvetica Neue",
    "Trebuchet MS",
    Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.dx-scheduler-appointment {
  color: #000;
  font-weight: 500;
  /* background-color: #e4e4e4; */
}

.dx-scheduler-appointment-recurrence .dx-scheduler-appointment-content {
  padding: 5px 0 5px 7px;
}

.options {
  background-color: rgba(191, 191, 191, 0.15);
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.column {
  width: 40%;
  display: inline-block;
  margin: 15px 3%;
  text-align: left;
  vertical-align: top;
}

.option {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.label,
.value {
  display: inline-block;
  vertical-align: middle;
}

.label {
  width: 180px;
}

.value {
  width: 30%;
}

.movie img {
  height: 70px;
}

.movie-text {
  font-size: 90%;
  white-space: normal;
}

#allow-shading,
#show-indicator {
  height: 36px;
}

.option {
  display: flex;
}

.option > span {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.dx-scheduler {
  margin-top: 20px;
}


.options {
  background-color: rgba(191, 191, 191, 0.15);
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.option {
  padding: 16px;
  display: flex;
  align-items: center;
}

.label,
.value {
  display: inline-block;
  vertical-align: middle;
}

.label {
  width: 100px;
}
